<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Help Desk Core</h1>
      <p>Bienvenue sur Help Desk, le portail intranet de l'assistance technique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Créer un compte</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Se connecter</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/facebook-login" *ngIf="false">Ouvrir une session avec Facebook</a></p>       
    </div>
  </div>
</main>
