.roles {
  margin-bottom: 20px;
}

.card-header {
  font-size: 110%;
}

.card-body {
  background: #fafafa;
}

.changeAvatar {
  position: absolute;
  bottom: -13px;
  left: 25px;
  font-size: 16px;
  color: #222;
}
